.image {
background-image: url(Teatro/teatro.jpg);
height: 600px;
width: 600px;
margin: 100px auto;
overflow: hidden;

}

p {
color: white;
overflow: auto;
font-size: 3em;
width: 450px;
height: 180px;
margin: 200px auto;

}