.menu, .Menu_item{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-align: center;
    padding: 5px 10px;
    background-color: lightseagreen;
    display: inline-block;
    margin-top: 5px;
    
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}

.Menu_item,.link_item, .submenu_item {
    background-color: lightseagreen;
    color: whitesmoke;
    padding: 5px 10px;
    
}

.submenu_item {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 5px;
    text-align: center;

}
