html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: sans-serif;
    margin: 0;
    background-image: linear-gradient(260deg, rgb(199, 236, 98) 0%, rgb(0, 174, 255) 100%);
  }
  
  a {
    color:white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background:rgba(56, 56, 56, 0.219);
    padding:20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition:all 0.5s;
  }
  
  a:hover {
    background:rgba(162, 216, 75, 0.151);
  }
  
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding:50px;
  }

  
.flex-nav ul {
    border:1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-nav ul li {
      flex: 1 1 100%;
  }
  
  .flex-nav .social {
      flex: 1;
  }
  
  
  
  
  @media all and (max-width:1000px) {
    
  
  }
  
  @media all and (max-width:500px) {
    
  
  }